body {display:flex; flex-direction:column; flex:1;}

.header {display:flex; justify-content: space-between; padding: 16px; wrap:nowrap; flex-shrink:0; align-items:center;}

ul {margin-left:auto; display:flex; list-style-type:none; gap:16px; }

.header, .footer, .first-container {background-color:#1F2937; color: #F9FAF8 }

.first-container {display:flex; justify-content: center; align-items:center; gap:20px; padding:40px;}

.sub-first-container {display:flex; flex-direction:column; flex-grow:0; margin:1em}

#h1 {font-size: 24px; color: #F9FAF8}

text {margin-top:30px; margin-bottom:30px;}

ul, .babytext{font-size:18px; color: #E5E7EB;}

.getter {font-size:48px; color: #F9FAF8; font-weight:bolder;}

.button {background-color: #3882f6; border:none; border-radius: 10%; padding:0.5em; max-width:75px}

.second-title {font-size: 36px; font-weight:bold; color:#1F2937}

.third-container {background-color:lightgray; }

.quote {font-size: 36px; font-style:italic; color:#1F2937}

.bluebox {background-color:#3882f6}